.container {
color: white;
display: grid;
padding: 10px;
background-color: gray;

/* grid-template-rows: 200px 100px;
grid-template-columns: 1fr 2fr 1fr; */

grid-template: 100px 100px / 1fr 2fr 1fr;

grid-row-gap: 10px;
grid-column-gap: 20px;
/* grid-gap: 15px;  // Pega o row e column juntos */

}

.r1 {
  background-color: red;
}
.r2 {
  background-color: blue;
}
.r3 {
  background-color: green;
}

/* .rect {
  width: 150px;
  height: 150px;
} */